.caption {
	display: block;
	text-align: center;
	font-weight: bold;
	height: 40px;
}

.graph {
	position: relative;
	float: right;
}

.graph ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.legend {
   background: #f0f0f0;
   border-radius: 4px;
   bottom: 0;
   position: relative;
   text-align: left;
   width: 100%;
}

.legend li {
   display: block;
   float: left;
   height: 20px;
   margin: 0;
   padding: 10px 20px;
}

.legend span.icon {
   background-position: 50% 0;
   border-radius: 2px;
   display: block;
   float: left;
   height: 16px;
   margin: 2px 10px 0 0;
   width: 16px;
}

.x-axis {
   bottom: 0;
   color: #555;
   position: absolute;
   text-align: center;
}

.x-axis li {
   float: left;
   margin: 0 10px;
}

.y-axis {
   color: #555;
   position: absolute;
   text-align: left;
}

.y-axis ul {
	padding: 0px;
	margin: 0px;
}

.y-axis li {
   border-top: 1px solid #ccc;
   display: block;
}

.y-axis li span {
   display: block;
   position: relative;
   text-align: right;
}

.bars {
	position: absolute;
	width: 100%;
	z-index: 10;
}
.bar-group {
	float: left;
	height: 100%;
	position: relative;
	margin: 0 10px;
}
.bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	position: absolute;
	text-align: center;
	#cursor: pointer;
	display: block;
}

.bar span {
	margin-top: -25px;
	*zoom: 1;
	display: none;
	position: relative;
}

.item-0 {
	background: #d0e4f7; /* Old browsers */
	background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
	background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}

.item-1 {
	background: #f0b7a1; /* Old browsers */
	background: -moz-linear-gradient(left,  #f0b7a1 0%, #8c3310 42%, #752201 59%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0b7a1), color-stop(42%,#8c3310), color-stop(59%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(to right,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 */
}

.item-2 {
	background: #6d6d6d; /* Old browsers */
	background: -moz-linear-gradient(left,  #6d6d6d 0%, #828282 12%, #666666 25%, #424242 49%, #727272 72%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6d6d6d), color-stop(12%,#828282), color-stop(25%,#666666), color-stop(49%,#424242), color-stop(72%,#727272), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* IE10+ */
	background: linear-gradient(to right,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#666666',GradientType=1 ); /* IE6-9 */
}

.item-3 {
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(left,  #bfd255 0%, #8eb92a 28%, #72aa00 47%, #8eb92a 78%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bfd255), color-stop(28%,#8eb92a), color-stop(47%,#72aa00), color-stop(78%,#8eb92a), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to right,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 */
}
.chart
{
	width:1000px;
	height:400px;
	margin-bottom:15px;
	background-color:#FAFAFA;
	
}